# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
app.log

# Flask
instance/
.webassets-cache

# Fichiers de configuration locaux
local_settings.py

# Caches et fichiers temporaires
.cache/
.pytest_cache/
.hypothesis/
.dmypy.json
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# Cython debug symbols
cython_debug/

# Flask session
.flask_session/